/* my styles */
.btnLayout {
	display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 10px;
}
.linkOne {
	background-image: url('/images/pic01.jpg');
	height: 150px;
    margin-bottom: 10px;
}
.linkTwo {
	background-image: url('/images/pic02.jpg');
	height: 150px;
    margin-bottom: 10px;
}
.linkThree {
	background-image: url('/images/pic03.jpg');
	height: 150px;
}